* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.navbar-brand {
    padding: 0.4rem 1.25rem 0.4rem 0.75rem;
    font-size: 1.65rem;
    font-weight: 800;
    color: #1a1a1a;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-brand:hover {
    color: #0009ad;
    transform: scale(1.1);
}

.nav-item {
    margin-right: 1rem;
}

.nav-link {
    color: #495057;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 12px 20px;
    transition: all 0.3s ease;
}

.nav-link:hover, .nav-link:focus {
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
}

.nav-link.dropdown-toggle {
    font-weight: 600;
}

.dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    opacity: 0;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
    color: #495057;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item-content i {
    margin-right: 10px;
    font-size: 1.2rem;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #e9ecef;
    color: #000;
}

/* breadcrumb */
.breadcrumb {
    background-color: #EEEEEE;
    border-radius: 0.5rem;
    padding: 0.5rem 0.85rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #6c757d;
    font-weight: 600;
}

.breadcrumb i {
    margin-right: 5px;
}
